body {
  margin: 20px;
}

nav {
  margin-bottom: 20px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

li {
  display: inline;
  margin: 20px;
}

a {
  text-decoration: none;
}

.main {
  margin-top: 50px;
}
